replicaCount: 2
image:
repository: "922581758696.dkr.ecr.eu-central-1.amazonaws.com/retail-store-checkout"
tag: latest
pullPolicy: IfNotPresent


service:
port: 8080


resources:
requests:
cpu: 100m
memory: 256Mi
limits:
cpu: 200m
memory: 512Mi


env:
  - name: RABBITMQ_HOST
    value: "retail-rabbitmq"
  - name: RABBITMQ_PORT
    value: "5672"
  - name: RABBITMQ_USER
    value: "guest"
  - name: RABBITMQ_PASSWORD
    value: "rabbitpass"


healthCheck:
path: /health
initialDelaySeconds: 5
periodSeconds: 10
timeoutSeconds: 2
failureThreshold: 3
