replicaCount: 2

image:
  repository: "922581758696.dkr.ecr.eu-central-1.amazonaws.com/retail-store-cart"
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 500m
    memory: 1Gi

env:
  - name: REDIS_HOST
    value: "retail-redis-master"
  - name: REDIS_PORT
    value: "6379"
  - name: DYNAMODB_ENDPOINT
    value: "http://dynamodb-local:8000"

healthCheck:
  path: /health
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 3

serviceAccount:
  create: true
  annotations: {}
  name: ""
