serviceAccount:
  create: true
  name: ""

replicaCount: 1

image:
  repository: "922581758696.dkr.ecr.eu-central-1.amazonaws.com/retail-store-cart"
  tag: "latest"
  pullPolicy: IfNotPresent

imagePullSecrets:
  - name: ecr-registry

service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: "250m"
    memory: "512Mi"
  requests:
    cpu: "250m"
    memory: "512Mi"

env:
  - name: SPRING_PROFILES_ACTIVE
    value: "prod"

  # Redis cache configuration
  - name: REDIS_HOST
    value: "redis-master.retail-store.svc.cluster.local"
  - name: REDIS_PORT
    value: "6379"

  # DynamoDB Local persistence configuration
  - name: DYNAMODB_ENDPOINT
    value: "http://dynamodb-local.retail-store.svc.cluster.local:8000"
  - name: AWS_REGION
    value: "eu-central-1"

  # Optional app configs
  - name: CACHE_TTL
    value: "300"
  - name: LOG_LEVEL
    value: "INFO"

healthCheck:
  path: /health
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 3

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 70
  targetMemoryUtilizationPercentage: 80

pdb:
  enabled: true
  minAvailable: 1

