replicaCount: 2
image:
repository: "922581758696.dkr.ecr.eu-central-1.amazonaws.com/retail-store-ui"
tag: latest
pullPolicy: IfNotPresent


service:
port: 8080


resources:
requests:
cpu: 250m
memory: 512Mi
limits:
cpu: 500m
memory: 1Gi


env: []


healthCheck:
path: /health
initialDelaySeconds: 5
periodSeconds: 10
timeoutSeconds: 2
failureThreshold: 3
