replicaCount: 2
image:
repository: "922581758696.dkr.ecr.eu-central-1.amazonaws.com/retail-store-catalog"
tag: latest
pullPolicy: IfNotPresent


service:
port: 8080


resources:
requests:
cpu: 100m
memory: 256Mi
limits:
cpu: 200m
memory: 512Mi


env:
  - name: POSTGRES_HOST
    value: "retail-postgresql"
  - name: POSTGRES_DB
    value: "retaildb"
  - name: POSTGRES_USER
    value: "retailuser"
  - name: POSTGRES_PASSWORD
    value: "retailpass"


healthCheck:
path: /health
initialDelaySeconds: 5
periodSeconds: 10
timeoutSeconds: 2
failureThreshold: 3
